<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>G.D.D.C.</title>
  <!-- <meta content="" name="description">
  <meta content="" name="keywords"> -->
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Favicons -->
  <!-- <link href="C:\wamp64\www\Semend\Assets\img\favicon.png" rel="icon">
  <link href="C:\wamp64\www\Semend\Assets\img\apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="C:\wamp64\www\Semend\Assets\css\bootstrap.min.css" rel="stylesheet">
  <link href="C:\wamp64\www\Semend\Assets\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="C:\wamp64\www\Semend\Assets\css\all.min.css" rel="stylesheet">
  <link href="C:\wamp64\www\Semend\Assets\vendor\aos\aos.css" rel="stylesheet">
  <link href="C:\wamp64\www\Semend\Assets\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="C:\wamp64\www\Semend\Assets\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="C:\wamp64\www\Semend\Assets\css\main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="hmpg.html" class="logo d-flex align-items-center">
        <h1>GOOD DAY DENTAL CLINIC</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="file:///C:/wamp64/www/Semend/Views/index.html" class="active">Home</a></li>
          <li><a href="http://localhost/semend/Views/ptn_tkn.php">Book Doctors Appointment</a></li>
          <li><a href="http://localhost/semend/Views/drslogin.php">Doctors Login</a></li>
          <li><a href="http://localhost/semend/Views/adminlogin.php">Admin Login</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <br><span>Good Day Dental Clinic</span></h2>
            <p data-aos="fade-up">Taking care of your health includes taking care of your smile. Oral health is essential for your well-being. Dental checkups and cleanings are important for healthy teeth and gums and for diagnosing and treating dental problems. Our friendly, high quality dental team is here to help you keep your teeth healthy.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="http://localhost/semend/Views/ptn_tkn.php" class="btn-get-started">Get Appointment</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(https://img.freepik.com/vector-premium/hombre-que-sufre-silla-dental_107173-5572.jpg)"></div>
      <div class="carousel-item" style="background-image: url(https://img.freepik.com/free-vector/dentist-woman-examining-patient-teeth-clinic_1308-91587.jpg?w=1060&t=st=1670777905~exp=1670778505~hmac=c2ff6018c0b70bf2ec9e4c69b763e46633acd8779663a33f55656df750869914)"></div>
      <div class="carousel-item" style="background-image: url(https://img.freepik.com/free-vector/patient-dentist-office-illustration_33099-2009.jpg?w=1380&t=st=1670777935~exp=1670778535~hmac=4c564ce5807803b626bbd583169c757d32926de8c1b4d86ae00b7916c42b326f)"></div>
      <div class="carousel-item" style="background-image: url(https://img.freepik.com/vector-premium/paciente-asustado-sillon-dental_107173-10252.jpg?w=1380)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->
  <!-- Vendor JS Files -->
  <script src="C:\wamp64\www\Semend\Assets\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="C:\wamp64\www\Semend\Assets\vendor\aos/aos.js"></script>
  <script src="C:\wamp64\www\Semend\Assets\vendor\glightbox\js\glightbox.min.js"></script>
  <script src="C:\wamp64\www\Semend\Assets\isotope-layout\isotope.pkgd.min.js"></script>
  <script src="C:\wamp64\www\Semend\Assets\vendor\swiper\swiper-bundle.min.js"></script>
  <script src="C:\wamp64\www\Semend\Assets\vendor\purecounter\purecounter_vanilla.js"></script>
  <script src="C:\wamp64\www\Semend\Assets\vendor\php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="C:\wamp64\www\Semend\Assets\js\main.js"></script>

</body>

</html>